@import "mixins";
$default-gradient-lighten: 60%;

.primary-deep-dark {
  color: var(--anu-primary-deep-dark);

  &-bg {
    background-color: var(--anu-primary-deep-dark);
  }

  &-border {
    border-color: var(--anu-primary-deep-dark);
  }

  &-grad {
    @include gradient(
      $grad-color: var(--anu-primary-deep-dark),
      $angle: 45deg,
      $lighten: $default-gradient-lighten
    );

    &-h {
      @include gradient(
        $grad-color: var(--anu-primary-deep-dark),
        $angle: 90deg,
        $lighten: $default-gradient-lighten
      );
    }

    &-v {
      @include gradient(
        $grad-color: var(--anu-primary-deep-dark),
        $angle: 0deg,
        $lighten: $default-gradient-lighten
      );
    }
  }
}

.primary-darkest {
  color: var(--anu-primary-darkest);

  &-bg {
    background-color: var(--anu-primary-darkest);
  }

  &-border {
    border-color: var(--anu-primary-darkest);
  }

  &-grad {
    @include gradient(
      $grad-color: var(--anu-primary-darkest),
      $angle: 45deg,
      $lighten: $default-gradient-lighten
    );

    &-h {
      @include gradient(
        $grad-color: var(--anu-primary-darkest),
        $angle: 90deg,
        $lighten: $default-gradient-lighten
      );
    }

    &-v {
      @include gradient(
        $grad-color: var(--anu-primary-darkest),
        $angle: 0deg,
        $lighten: $default-gradient-lighten
      );
    }
  }
}

.primary-darker {
  color: var(--anu-primary-darker);

  &-bg {
    background-color: var(--anu-primary-darker);
  }

  &-border {
    border-color: var(--anu-primary-darker);
  }

  &-grad {
    @include gradient(
      $grad-color: var(--anu-primary-darker),
      $angle: 45deg,
      $lighten: $default-gradient-lighten
    );

    &-h {
      @include gradient(
        $grad-color: var(--anu-primary-darker),
        $angle: 90deg,
        $lighten: $default-gradient-lighten
      );
    }

    &-v {
      @include gradient(
        $grad-color: var(--anu-primary-darker),
        $angle: 0deg,
        $lighten: $default-gradient-lighten
      );
    }
  }
}

.primary-dark {
  color: var(--anu-primary-dark);

  &-bg {
    background-color: var(--anu-primary-dark);
  }

  &-border {
    border-color: var(--anu-primary-dark);
  }

  &-grad {
    @include gradient(
      $grad-color: var(--anu-primary-dark),
      $angle: 45deg,
      $lighten: $default-gradient-lighten
    );

    &-h {
      @include gradient(
        $grad-color: var(--anu-primary-dark),
        $angle: 90deg,
        $lighten: $default-gradient-lighten
      );
    }

    &-v {
      @include gradient(
        $grad-color: var(--anu-primary-dark),
        $angle: 0deg,
        $lighten: $default-gradient-lighten
      );
    }
  }
}

.primary-normal {
  color: var(--anu-primary-normal);

  &-bg {
    background-color: var(--anu-primary-normal);
  }

  &-border {
    border-color: var(--anu-primary-normal);
  }

  &-grad {
    @include gradient(
      $grad-color: var(--anu-primary-normal),
      $angle: 45deg,
      $lighten: $default-gradient-lighten
    );

    &-h {
      @include gradient(
        $grad-color: var(--anu-primary-normal),
        $angle: 90deg,
        $lighten: $default-gradient-lighten
      );
    }

    &-v {
      @include gradient(
        $grad-color: var(--anu-primary-normal),
        $angle: 0deg,
        $lighten: $default-gradient-lighten
      );
    }
  }
}

.primary-light {
  color: var(--anu-primary-light);

  &-bg {
    background-color: var(--anu-primary-light);
  }

  &-border {
    border-color: var(--anu-primary-light);
  }

  &-grad {
    @include gradient(
      $grad-color: var(--anu-primary-light),
      $angle: 45deg,
      $lighten: $default-gradient-lighten
    );

    &-h {
      @include gradient(
        $grad-color: var(--anu-primary-light),
        $angle: 90deg,
        $lighten: $default-gradient-lighten
      );
    }

    &-v {
      @include gradient(
        $grad-color: var(--anu-primary-light),
        $angle: 0deg,
        $lighten: $default-gradient-lighten
      );
    }
  }
}

.primary-lighter {
  color: var(--anu-primary-lighter);

  &-bg {
    background-color: var(--anu-primary-lighter);
  }

  &-border {
    border-color: var(--anu-primary-lighter);
  }

  &-grad {
    @include gradient(
      $grad-color: var(--anu-primary-lighter),
      $angle: 45deg,
      $lighten: $default-gradient-lighten
    );

    &-h {
      @include gradient(
        $grad-color: var(--anu-primary-lighter),
        $angle: 90deg,
        $lighten: $default-gradient-lighten
      );
    }

    &-v {
      @include gradient(
        $grad-color: var(--anu-primary-lighter),
        $angle: 0deg,
        $lighten: $default-gradient-lighten
      );
    }
  }
}

.primary-lightest {
  color: var(--anu-primary-lightest);

  &-bg {
    background-color: var(--anu-primary-lightest);
  }

  &-border {
    border-color: var(--anu-primary-lightest);
  }

  &-grad {
    @include gradient(
      $grad-color: var(--anu-primary-lightest),
      $angle: 45deg,
      $lighten: $default-gradient-lighten
    );

    &-h {
      @include gradient(
        $grad-color: var(--anu-primary-lightest),
        $angle: 90deg,
        $lighten: $default-gradient-lighten
      );
    }

    &-v {
      @include gradient(
        $grad-color: var(--anu-primary-lightest),
        $angle: 0deg,
        $lighten: $default-gradient-lighten
      );
    }
  }
}

.primary-deep-light {
  color: var(--anu-primary-deep-light);

  &-bg {
    background-color: var(--anu-primary-deep-light);
  }

  &-border {
    border-color: var(--anu-primary-deep-light);
  }

  &-grad {
    @include gradient(
      $grad-color: var(--anu-primary-deep-light),
      $angle: 45deg,
      $lighten: $default-gradient-lighten
    );

    &-h {
      @include gradient(
        $grad-color: var(--anu-primary-deep-light),
        $angle: 90deg,
        $lighten: $default-gradient-lighten
      );
    }

    &-v {
      @include gradient(
        $grad-color: var(--anu-primary-deep-light),
        $angle: 0deg,
        $lighten: $default-gradient-lighten
      );
    }
  }
}

.secondary-deep-dark {
  color: var(--anu-secondary-deep-dark);

  &-bg {
    background-color: var(--anu-secondary-deep-dark);
  }

  &-border {
    border-color: var(--anu-secondary-deep-dark);
  }

  &-grad {
    @include gradient(
      $grad-color: var(--anu-secondary-deep-dark),
      $angle: 45deg,
      $lighten: $default-gradient-lighten
    );

    &-h {
      @include gradient(
        $grad-color: var(--anu-secondary-deep-dark),
        $angle: 90deg,
        $lighten: $default-gradient-lighten
      );
    }

    &-v {
      @include gradient(
        $grad-color: var(--anu-secondary-deep-dark),
        $angle: 0deg,
        $lighten: $default-gradient-lighten
      );
    }
  }
}

.secondary-darkest {
  color: var(--anu-secondary-darkest);

  &-bg {
    background-color: var(--anu-secondary-darkest);
  }

  &-border {
    border-color: var(--anu-secondary-darkest);
  }

  &-grad {
    @include gradient(
      $grad-color: var(--anu-secondary-darkest),
      $angle: 45deg,
      $lighten: $default-gradient-lighten
    );

    &-h {
      @include gradient(
        $grad-color: var(--anu-secondary-darkest),
        $angle: 90deg,
        $lighten: $default-gradient-lighten
      );
    }

    &-v {
      @include gradient(
        $grad-color: var(--anu-secondary-darkest),
        $angle: 0deg,
        $lighten: $default-gradient-lighten
      );
    }
  }
}

.secondary-darker {
  color: var(--anu-secondary-darker);

  &-bg {
    background-color: var(--anu-secondary-darker);
  }

  &-border {
    border-color: var(--anu-secondary-darker);
  }

  &-grad {
    @include gradient(
      $grad-color: var(--anu-secondary-darker),
      $angle: 45deg,
      $lighten: $default-gradient-lighten
    );

    &-h {
      @include gradient(
        $grad-color: var(--anu-secondary-darker),
        $angle: 90deg,
        $lighten: $default-gradient-lighten
      );
    }

    &-v {
      @include gradient(
        $grad-color: var(--anu-secondary-darker),
        $angle: 0deg,
        $lighten: $default-gradient-lighten
      );
    }
  }
}

.secondary-dark {
  color: var(--anu-secondary-dark);

  &-bg {
    background-color: var(--anu-secondary-dark);
  }

  &-border {
    border-color: var(--anu-secondary-dark);
  }

  &-grad {
    @include gradient(
      $grad-color: var(--anu-secondary-dark),
      $angle: 45deg,
      $lighten: $default-gradient-lighten
    );

    &-h {
      @include gradient(
        $grad-color: var(--anu-secondary-dark),
        $angle: 90deg,
        $lighten: $default-gradient-lighten
      );
    }

    &-v {
      @include gradient(
        $grad-color: var(--anu-secondary-dark),
        $angle: 0deg,
        $lighten: $default-gradient-lighten
      );
    }
  }
}

.secondary-normal {
  color: var(--anu-secondary-normal);

  &-bg {
    background-color: var(--anu-secondary-normal);
  }

  &-border {
    border-color: var(--anu-secondary-normal);
  }

  &-grad {
    @include gradient(
      $grad-color: var(--anu-secondary-normal),
      $angle: 45deg,
      $lighten: $default-gradient-lighten
    );

    &-h {
      @include gradient(
        $grad-color: var(--anu-secondary-normal),
        $angle: 90deg,
        $lighten: $default-gradient-lighten
      );
    }

    &-v {
      @include gradient(
        $grad-color: var(--anu-secondary-normal),
        $angle: 0deg,
        $lighten: $default-gradient-lighten
      );
    }
  }
}

.secondary-light {
  color: var(--anu-secondary-light);

  &-bg {
    background-color: var(--anu-secondary-light);
  }

  &-border {
    border-color: var(--anu-secondary-light);
  }

  &-grad {
    @include gradient(
      $grad-color: var(--anu-secondary-light),
      $angle: 45deg,
      $lighten: $default-gradient-lighten
    );

    &-h {
      @include gradient(
        $grad-color: var(--anu-secondary-light),
        $angle: 90deg,
        $lighten: $default-gradient-lighten
      );
    }

    &-v {
      @include gradient(
        $grad-color: var(--anu-secondary-light),
        $angle: 0deg,
        $lighten: $default-gradient-lighten
      );
    }
  }
}

.secondary-lighter {
  color: var(--anu-secondary-lighter);

  &-bg {
    background-color: var(--anu-secondary-lighter);
  }

  &-border {
    border-color: var(--anu-secondary-lighter);
  }

  &-grad {
    @include gradient(
      $grad-color: var(--anu-secondary-lighter),
      $angle: 45deg,
      $lighten: $default-gradient-lighten
    );

    &-h {
      @include gradient(
        $grad-color: var(--anu-secondary-lighter),
        $angle: 90deg,
        $lighten: $default-gradient-lighten
      );
    }

    &-v {
      @include gradient(
        $grad-color: var(--anu-secondary-lighter),
        $angle: 0deg,
        $lighten: $default-gradient-lighten
      );
    }
  }
}

.secondary-lightest {
  color: var(--anu-secondary-lightest);

  &-bg {
    background-color: var(--anu-secondary-lightest);
  }

  &-border {
    border-color: var(--anu-secondary-lightest);
  }

  &-grad {
    @include gradient(
      $grad-color: var(--anu-secondary-lightest),
      $angle: 45deg,
      $lighten: $default-gradient-lighten
    );

    &-h {
      @include gradient(
        $grad-color: var(--anu-secondary-lightest),
        $angle: 90deg,
        $lighten: $default-gradient-lighten
      );
    }

    &-v {
      @include gradient(
        $grad-color: var(--anu-secondary-lightest),
        $angle: 0deg,
        $lighten: $default-gradient-lighten
      );
    }
  }
}

.secondary-deep-light {
  color: var(--anu-secondary-deep-light);

  &-bg {
    background-color: var(--anu-secondary-deep-light);
  }

  &-border {
    border-color: var(--anu-secondary-deep-light);
  }

  &-grad {
    @include gradient(
      $grad-color: var(--anu-secondary-deep-light),
      $angle: 45deg,
      $lighten: $default-gradient-lighten
    );

    &-h {
      @include gradient(
        $grad-color: var(--anu-secondary-deep-light),
        $angle: 90deg,
        $lighten: $default-gradient-lighten
      );
    }

    &-v {
      @include gradient(
        $grad-color: var(--anu-secondary-deep-light),
        $angle: 0deg,
        $lighten: $default-gradient-lighten
      );
    }
  }
}

.accent-deep-dark {
  color: var(--anu-accent-deep-dark);

  &-bg {
    background-color: var(--anu-accent-deep-dark);
  }

  &-border {
    border-color: var(--anu-accent-deep-dark);
  }

  &-grad {
    @include gradient(
      $grad-color: var(--anu-accent-deep-dark),
      $angle: 45deg,
      $lighten: $default-gradient-lighten
    );

    &-h {
      @include gradient(
        $grad-color: var(--anu-accent-deep-dark),
        $angle: 90deg,
        $lighten: $default-gradient-lighten
      );
    }

    &-v {
      @include gradient(
        $grad-color: var(--anu-accent-deep-dark),
        $angle: 0deg,
        $lighten: $default-gradient-lighten
      );
    }
  }
}

.accent-darkest {
  color: var(--anu-accent-darkest);

  &-bg {
    background-color: var(--anu-accent-darkest);
  }

  &-border {
    border-color: var(--anu-accent-darkest);
  }

  &-grad {
    @include gradient(
      $grad-color: var(--anu-accent-darkest),
      $angle: 45deg,
      $lighten: $default-gradient-lighten
    );

    &-h {
      @include gradient(
        $grad-color: var(--anu-accent-darkest),
        $angle: 90deg,
        $lighten: $default-gradient-lighten
      );
    }

    &-v {
      @include gradient(
        $grad-color: var(--anu-accent-darkest),
        $angle: 0deg,
        $lighten: $default-gradient-lighten
      );
    }
  }
}

.accent-darker {
  color: var(--anu-accent-darker);

  &-bg {
    background-color: var(--anu-accent-darker);
  }

  &-border {
    border-color: var(--anu-accent-darker);
  }

  &-grad {
    @include gradient(
      $grad-color: var(--anu-accent-darker),
      $angle: 45deg,
      $lighten: $default-gradient-lighten
    );

    &-h {
      @include gradient(
        $grad-color: var(--anu-accent-darker),
        $angle: 90deg,
        $lighten: $default-gradient-lighten
      );
    }

    &-v {
      @include gradient(
        $grad-color: var(--anu-accent-darker),
        $angle: 0deg,
        $lighten: $default-gradient-lighten
      );
    }
  }
}

.accent-dark {
  color: var(--anu-accent-dark);

  &-bg {
    background-color: var(--anu-accent-dark);
  }

  &-border {
    border-color: var(--anu-accent-dark);
  }

  &-grad {
    @include gradient(
      $grad-color: var(--anu-accent-dark),
      $angle: 45deg,
      $lighten: $default-gradient-lighten
    );

    &-h {
      @include gradient(
        $grad-color: var(--anu-accent-dark),
        $angle: 90deg,
        $lighten: $default-gradient-lighten
      );
    }

    &-v {
      @include gradient(
        $grad-color: var(--anu-accent-dark),
        $angle: 0deg,
        $lighten: $default-gradient-lighten
      );
    }
  }
}

.accent-normal {
  color: var(--anu-accent-normal);

  &-bg {
    background-color: var(--anu-accent-normal);
  }

  &-border {
    border-color: var(--anu-accent-normal);
  }

  &-grad {
    @include gradient(
      $grad-color: var(--anu-accent-normal),
      $angle: 45deg,
      $lighten: $default-gradient-lighten
    );

    &-h {
      @include gradient(
        $grad-color: var(--anu-accent-normal),
        $angle: 90deg,
        $lighten: $default-gradient-lighten
      );
    }

    &-v {
      @include gradient(
        $grad-color: var(--anu-accent-normal),
        $angle: 0deg,
        $lighten: $default-gradient-lighten
      );
    }
  }
}

.accent-light {
  color: var(--anu-accent-light);

  &-bg {
    background-color: var(--anu-accent-light);
  }

  &-border {
    border-color: var(--anu-accent-light);
  }

  &-grad {
    @include gradient(
      $grad-color: var(--anu-accent-light),
      $angle: 45deg,
      $lighten: $default-gradient-lighten
    );

    &-h {
      @include gradient(
        $grad-color: var(--anu-accent-light),
        $angle: 90deg,
        $lighten: $default-gradient-lighten
      );
    }

    &-v {
      @include gradient(
        $grad-color: var(--anu-accent-light),
        $angle: 0deg,
        $lighten: $default-gradient-lighten
      );
    }
  }
}

.accent-lighter {
  color: var(--anu-accent-lighter);

  &-bg {
    background-color: var(--anu-accent-lighter);
  }

  &-border {
    border-color: var(--anu-accent-lighter);
  }

  &-grad {
    @include gradient(
      $grad-color: var(--anu-accent-lighter),
      $angle: 45deg,
      $lighten: $default-gradient-lighten
    );

    &-h {
      @include gradient(
        $grad-color: var(--anu-accent-lighter),
        $angle: 90deg,
        $lighten: $default-gradient-lighten
      );
    }

    &-v {
      @include gradient(
        $grad-color: var(--anu-accent-lighter),
        $angle: 0deg,
        $lighten: $default-gradient-lighten
      );
    }
  }
}

.accent-lightest {
  color: var(--anu-accent-lightest);

  &-bg {
    background-color: var(--anu-accent-lightest);
  }

  &-border {
    border-color: var(--anu-accent-lightest);
  }

  &-grad {
    @include gradient(
      $grad-color: var(--anu-accent-lightest),
      $angle: 45deg,
      $lighten: $default-gradient-lighten
    );

    &-h {
      @include gradient(
        $grad-color: var(--anu-accent-lightest),
        $angle: 90deg,
        $lighten: $default-gradient-lighten
      );
    }

    &-v {
      @include gradient(
        $grad-color: var(--anu-accent-lightest),
        $angle: 0deg,
        $lighten: $default-gradient-lighten
      );
    }
  }
}

.accent-deep-light {
  color: var(--anu-accent-deep-light);

  &-bg {
    background-color: var(--anu-accent-deep-light);
  }

  &-border {
    border-color: var(--anu-accent-deep-light);
  }

  &-grad {
    @include gradient(
      $grad-color: var(--anu-accent-deep-light),
      $angle: 45deg,
      $lighten: $default-gradient-lighten
    );

    &-h {
      @include gradient(
        $grad-color: var(--anu-accent-deep-light),
        $angle: 90deg,
        $lighten: $default-gradient-lighten
      );
    }

    &-v {
      @include gradient(
        $grad-color: var(--anu-accent-deep-light),
        $angle: 0deg,
        $lighten: $default-gradient-lighten
      );
    }
  }
}
