<div class="anuColorPalette">
  <h3>{{headerText}}</h3>
  <div class="anuColorPalette_hue">
    <label>Hue </label>
    <input type="range" min="0" max="360" [value]="colorPalette.hue" class="anuColorPalette_slider" [formControl]="hueControl">
    <label>Saturation </label>
    <input type="range" min="0" max="100" [value]="colorPalette.saturation" class="anuColorPalette_slider" [formControl]="saturationControl">
  </div>
  <ng-container [formGroup]="lightsForm">
  <div class="anuColorPalette_swatches" formArrayName="lightControls">
    <div class="anuColorPalette_swatches_color" *ngFor="let color of colorPalette.colors; let index = index"
    [style.background-color]="color.hsl"
    [style.color]="color.hsl">
      <small class="anuColorPalette_swatches_color_name">{{color.name}}</small>
      <small class="anuColorPalette_swatches_color_value">{{color.hsl}}</small>
      <label>Light </label>
      <input [formControlName]="index" type="range" min="0" max="100" [value]="color.l" class="anuColorPalette_slider">
    </div>
  </div>
</ng-container>
</div>
