.anuColorPalette {
  display: flex;
  flex-direction: column;

  // Color stripes
  &_swatches {
    display: flex;
    flex-direction: column;
    padding: 1.5em 0;

    &_color {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 1em;
      align-items: center;
      justify-content: center;
      height: auto;
      min-height: 28rem;

      &_name,
      &_value {
        filter: invert(1);
      }
    }
  }
}
