<div class="anuColorPalette">
  <h3>{{ headerText }}</h3>
  <div class="anuColorPalette_hue">
    <label>Hue </label>
    <input
      type="range"
      min="0"
      max="360"
      [value]="colorPalette.hue"
      class="anuColorPalette_slider"
      [formControl]="hueControl"
    />
    <label>Saturation </label>
    <input
      type="range"
      min="0"
      max="100"
      [value]="colorPalette.saturation"
      class="anuColorPalette_slider"
      [formControl]="saturationControl"
    />
  </div>
  <ng-container [formGroup]="lightsForm">
    <div class="anuColorPalette_swatches" formArrayName="lightControls">
      <div
        class="anuColorPalette_swatches_color"
        *ngFor="let color of colorPalette.colors; let index = index"
        [style.background-color]="color.hsl"
      >
        <span class="anuColorPalette_swatches_color_name">{{
          color.name
        }}</span>
        <span class="anuColorPalette_swatches_color_value">{{
          color.hsl
        }}</span>
        <!-- Accent Colors for testing accent text over palette color backgrounds -->
        <div class="flex-container" *ngIf="accentColors && accentColors.length">
          <span *ngFor="let aColor of accentColors" [style.color]="aColor.hsl"
            >accent{{ aColor.name }}</span
          >
        </div>

        <input
          [formControlName]="index"
          type="range"
          min="0"
          max="100"
          [value]="color.l"
          class="anuColorPalette_slider"
        />
      </div>
    </div>
  </ng-container>
</div>
