@import "mixins";

:host {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  width: 100%;

  .multi-select-item {
    width: auto;
    border: 1px solid var(--anu-primary-normal);
    font-weight: normal;
    text-align: left;
    cursor: pointer;

    &.selected {
      border: 1px solid var(--anu-primary-darkest);
      font-weight: bold;
      color: var(--anu-accent-darkest);
    }

    &:hover {
      border-color: var(--anu-primary-darkest);
      color: var(--anu-accent-darkest);
    }
  }
}
