<section class="annuThemePreview">
    
    <h1>Heading 1</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

    <h2>Heading 2</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

    <h3>Heading 3</h3>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

    <h4>Heading 4</h4>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

    <h5>Heading 5</h5>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

    <h6>Heading 6</h6>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    
    
    <h3>Button</h3>
    <a href="" class="btn">Button 1</a>

    <h3>Buttons Group</h3>
    <a href="" class="btn">Button 1</a> <a href="" class="btn">Button 2</a>

    <h3>Ordered List</h3>
    <ol>
        <li>Lorem Ipsum List item</li>
        <li>Lorem Ipsum List item</li>
        <li>Lorem Ipsum List item</li>
    </ol>

    <hr/>

    <h3>Un - Ordered List</h3>
    <ul>
        <li>Lorem Ipsum List item</li>
        <li>Lorem Ipsum List item</li>
        <li>Lorem Ipsum List item</li>
    </ul>

    <h3>Form Controls</h3>
    <label>Text box</label>
    <input type="text" value="sample text"/>
    <label>Textarea</label>
    <textarea>sample text</textarea>

    <h3>Table</h3>
    <table>
        <thead>
            <th>Column 1</th>
            <th>Column 2</th>
            <th>Column 3</th>
            <th>Column 4</th>
        </thead>
        <tbody>
            <tr><td>Lorem Ipsum is simply dummy text</td><td>12/30/2021</td><td><a href="">Sample Link</a></td><td>200,000</td></tr>
            <tr><td>Lorem Ipsum is simply dummy text</td><td>12/30/2021</td><td><a href="">Sample Link</a></td><td>200,000</td></tr>
            <tr><td>Lorem Ipsum is simply dummy text</td><td>12/30/2021</td><td><a href="">Sample Link</a></td><td>200,000</td></tr>
            <tr><td>Lorem Ipsum is simply dummy text</td><td>12/30/2021</td><td><a href="">Sample Link</a></td><td>200,000</td></tr>
        </tbody>
    </table>
    

    
</section>