:host {
    position: relative;

    .toolbar {
        position: absolute;
        right: 1rem;
        margin-top: 0.5rem;
    }

    >pre {
        margin: 0;

        &.enableEdit {
            padding-top: 3rem;
        }
    }

    .source-code-textarea {
        min-height: 25rem;
    }
}
