<anu-error class="col-12" *ngIf="error" [code]="error?.code" [message]="error?.message"></anu-error>
<anu-card class="border-round shadow spacing-half col-sm-12 col-md-6 col-lg-6">
    <anu-card-body>
        <h3>Upload Image</h3>
        <span *ngIf="uploadHelpText"><small>{{uploadHelpText}}</small></span>
        <div class="form-group">
            <input #fileInput id="file" type="file" class="" (change)="onFileChange($event)" />
            <input type="button" class="btn" (click)="uploadClick()" value="Choose file to upload...">
            <label>{{choosenFileName || 'No file choosen'}}</label>
        </div>
    </anu-card-body>
</anu-card>
<div class="row right">
    <!-- Image Files filter -->
    <anu-search-box classs="col-12" [items]="imageFiles" [keys]="['name']"
        (changed)="onImageListFilter($event)"></anu-search-box>

</div>
<ng-container *ngFor="let imgFile of imagesFilesFiltered">
    <anu-card class="border-round shadow spacing-half col-sm-12 col-md-4 col-lg-3"
        [class.primary-lightest-bg]="imgFile.fullPath === selectedImageFile?.fullPath">
        <anu-card-image>
            <div *ngIf="!imgFile.downloadUrl" class="image-preview relative">
                <a href="#" (click)="previewClick($event, imgFile)">Preview</a>
                <anu-spinner class="col-12" [show]="loadingPreview[imgFile.fullPath + imgFile.name]"></anu-spinner>
            </div>
            <img *ngIf="imgFile.downloadUrl" [src]="imgFile.downloadUrl" [alt]="imgFile.name" />
        </anu-card-image>
        <anu-card-title class="spacing-around-vertical img-card-title">
            {{imgFile.name}}
        </anu-card-title>
        <anu-card-footer>
            <div class="row stretch nowrap spacing-around-vertical">
                <a href="#" (click)="deleteClick($event, imgFile)">delete</a>
                <a href="#" (click)="selectClick($event, imgFile)">select</a>
            </div>
        </anu-card-footer>
    </anu-card>
</ng-container>

<anu-card class="center middle border-round">
    <anu-card-body>
        <div class="col-12">
            <a *ngIf="nextPageToken" href="#" (click)="loadMoreClick($event)">Load more...</a>
            <a *ngIf="!nextPageToken" href="#" (click)="refreshClick($event)">Re-load List</a>
        </div>
    </anu-card-body>
</anu-card>
<anu-spinner class="col-12" [show]="loading"></anu-spinner>
