
    <div *ngIf="previousPage"><a [href]="pageLink(previousPage)" (click)="previousClicked($event)"><span>≪</span>
            Previous</a></div>
    <ng-container *ngIf="showPageRange">
        <div *ngFor="let page of rangePages"><a [href]="pageLink(activePage)" (click)="pageClicked($event, page)"
                [ngClass]="{'active': page === activePage}">{{page}}</a></div>
    </ng-container>
    <div *ngIf="nextPage"><a [href]="pageLink(nextPage)" (click)="nextClicked($event)">Next <span>≫</span></a></div>
