@import "mixins";

.annuTheme {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: flex-start;

  &_navs {
    width: 100%;
    background-color: var(--anu-primary-normal);
  }

  &_overview {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    &_fromJson {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .btn {
        margin-top: 1rem;
      }
    }
  }

  &_typography {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &_palettes {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    width: 100%;
  }

  &_palette {
    @include large {
      width: 33.33%;
    }

    @include medium {
      width: 50%;
    }

    @include small {
      width: 100%;
    }
  }

  &_palette + &_palette {
    padding-left: 1rem;
  }

  &_json {
    padding: 1rem;
    width: 100%;
  }
}
