<div class="annuTheme">

  <section class="annuTheme_navs">
    <anu-tabs [spaced]="true" [rounded]="false" [vertical]= "false" [activeTab]="selectedTab" [tabs]="tabs" (changed)="tabChanged($event)"></anu-tabs>
  </section>

  <section class="annuTheme_overview" *ngIf="selectedTab.name === 'overview'">
    <label>You can load theme from an existing JSON, and then you can edit it here or can continue creating a new
      theme with default values.

      <a href="javascript:void(0)" (click)="isThemeFromJson = !isThemeFromJson">Load theme from Json</a>
    </label>

    <section class="annuTheme_overview_fromJson" *ngIf="isThemeFromJson">
      <span class="error" *ngIf="isJsonError">This Json has syntax errors or may be theme name, title, colorPalettes or typography data is missing, please correct and try again.</span>
      <textarea [(ngModel)]="themeFromJson" placeholder="Copy JSON here from your theme json file..." ></textarea>
      <a href="javascript:void(0)" class="btn secondary" (click)="loadThemeFromJson()">Load</a>
    </section>

    <label>Name</label>
    <input type="text" [(ngModel)]="theme.name">
    <label>Title </label>
    <input type="text" [(ngModel)]="theme.title">
    <label>Description </label>
    <textarea [(ngModel)]="theme.description"></textarea>
  </section>

  <section class="annuTheme_palettes" *ngIf="selectedTab.name === 'palettes'">
    <div class="annuTheme_palette" *ngFor="let colorPalette of theme.colorPalettes">
      <anu-color-palette [colorPalette]="colorPalette" (valueChanges)="paletteChanged($event)">
      </anu-color-palette>
    </div>
  </section>

  <section class="annuTheme_typography" *ngIf="selectedTab.name === 'typography'">
    <anu-typography [typography]="typography" (changed)="typographyChanged($event)"></anu-typography>
  </section>

  <section class="annuTheme_json" *ngIf="selectedTab.name === 'json'">
    <div class="annuTheme_json_code">
      <h3>Theme Json</h3>
      <anu-code-block [source]="theme | json" language="javascript"></anu-code-block>
      <hr/>
      <h3>CSS Vars</h3>
      <anu-code-block [source]="getCssVars(theme) | json" language="javascript"></anu-code-block>
    </div>
  </section>
</div>
